.container {
    width: 95%;
    margin: 10px auto;
    display: flex;
}

.login-container {
    width: 95%;
    margin: 10px auto;
}

.menu-container {
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin: 10px;
    width: 35%;
    height: 100%;
    min-height:100%;
    background-color: #edf1ed;
    box-sizing: border-box;
}

.memo-practices-container0 {
    margin-top: 10px;
    padding-top: 20px;
    
    width: 80%;
    text-align: center;
    background-color: #edf1ed;
    box-sizing: border-box;
}

.memo-practices-container {
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 10px;
    width: 100%;
    background-color: #edf1ed;
    box-sizing: border-box;
}

.memo-practices-container2 {
    margin-top: 10px;
    padding-top: 20px;
    width: 90%;
    background-color: #edf1ed;
    box-sizing: border-box;
    display: flex;
}

.practices-container {
    width: 60%;
    margin: 10px auto;
}

.practices-container2 {
    width: 30%;
    margin: 10px auto;
}

.practice {
    border-top: solid #00acee;
    margin-top: 10px;
    padding-top: 20px;
}

.class1 {
    width: 50%;
    height: 50%;
}